<div class="footer-padding"></div>
<div class="footer">
  <p style="font-weight: 600"><i class="fa-sharp fa-solid fa-building-columns"></i> Ionio Panepistimio BiHELab 2022-2023</p>
</div>
</body>
</html>