<%- include("partials/navbar") %> 
<h1 class="titles">Hello <%= user %></h1>
<div class="container-fluid prologue">
<p class="main-p">Welcome to the <span class="target-m">ALS Registry</span> . A registry for patients with <span class="target-m">ALS(Amyotrophic Lateral Sclerosis)</span>.</p>

    <div class="main-part">
        <h3>About the ALS Registry</h3>
        <p class="main-p">The ALS Registry is a dedicated platform for patients with ALS (Amyotrophic Lateral Sclerosis). Our goal is to revolutionize the way doctors classify and track the progression of ALS, ultimately improving the quality of care provided.</p>
    </div> 

    <h3>How to Participate</h3>
    <p class="main-p">Participating in the ALS Registry is simple. Since you register on the platform, you will then have the opportunity to update your information and complete subsequent surveys to help us monitor the evolution of the patients condition over time.</p>
    
    
    </div>


<%- include("partials/footer") %> 





