.titles {
    color: #33363D;
    text-align: center;
    padding: 25px 0;
    font-size: 40px;
}

/* Main */
.prologue {
  color: black;
  background-image: linear-gradient(to bottom, #b0c6d2 0%, #d2e9f3 100%);
  max-width: 88%;
  border: 1px solid #c2b2bc ;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  padding: 1.5% 5% 0 5%;
  text-align: center;
}

.main-p {
margin-bottom: 30px;
font-size: 19px;
}
.target-m {
  font-weight: 700;
}

/* Patients */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  color: #444444;
  text-align: center;
}
table.container-fluid td {
  width: 11.11%;
}

th {
  text-align: center;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #cccccc;
}

td {
  color: #000000;
  padding: 10px;
  border: 1px solid #cccccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

/* History Patients */

.history-section {
    padding: 2%;
    max-width: 870px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.history-item {
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-link{
  color: #fff;
  font-size: 23px;
}

.btn-link:hover {
  color: #fff;
}
.history-header {
  padding: 8px;
  background-color: #007bff;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.history-details {
  padding: 20px;
  font-size: 16px;
  border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.extra-content {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.extra-details {
  width: 100%; /* Set the width to 100% to take up available space */
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Update to align items in the center */
}

.survey-detail {
  display: flex;
  align-items: flex-start; /* Change align-items to flex-start */
  margin-bottom: 10px;
  width: 100%; /* Add width: 100% */
}

.survey-detail strong {
  min-width: 180px;
  font-weight: bold;
  flex-shrink: 0; /* Add flex-shrink: 0 to prevent shrinking */
}

.survey-detail p {
  margin: 0;
}

/* strong {
  display: inline-block;
  width: 150px;
} */

.card {
  text-align: left;
  border: 1px solid #c2b2bc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 20px auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card-header {
  text-align: center;
  font-size: 23px;
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.card-body {
  font-size: 18px;
  padding: 15px 40px ;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
} 

/* Add a patient */
#patient {
    text-align: center;
    padding: 0 4%;
    font-size: 16px;
}

.pat-container{
    background-color: #DBDFEA;
    padding: 2%;
    max-width: 800px;
    border: 1px solid #c2b2bc ;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.pat-container .form-control {
  background-color: #F6F1F1;
}
.pat-select {
  font-size: 18px;
  margin-bottom: 5%;
}
.check{
    margin: 7px 0 ;
}
/* Survey */

#survey {
    font-size: 16px;
    text-align: center;
    padding: 0 17%;
}

.sur-res {
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.6);
    margin: 6% auto 0 auto;
    color: white;
    background-color: #008080;
    max-width: 500px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.act-sur {
  font-size: 21px;
  padding: 10px 15px;
}
.act-sur:hover {
    background-color: #20b2aa;
    color: white;
}

.score-p {
font-size: 19px;
}

.sur-p {
  color: black;
  font-size: 17px;
    margin-top: 15%;
}
.sur-hr {
    border-top: 2px solid silver; 
}

.btn-sur {
    letter-spacing: 0.5px;
    white-space: break-spaces;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid silver;
    background-color: #dcdcdc;
    color: #595959;
    width: 100%;
  }

.btn-sur.active {
    color: white;
    background-color: #20b2aa;
    border-color: #20b2aa;
  }

.btn-sur:focus {
    color: white;
    outline: none !important;
 }

.btn-sur:hover:not(.active) {
    background-color: silver;
  }
  
.btn-sur:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
.btn-sur:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }


/* Settings */
.settings {
    padding: 2%;
}

.info {
  text-align: center;
}
.set-span {
    text-decoration: underline;
}
.stg-btn {
    margin-top: 30px;
    text-align: right;
}


